name: JVM 

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/build-jvm.yml'
      - '2015/**'
      - '2016/**'
      - '2017/**'
      - '2018/**'
      - '2019/**'
      - '2020/**'
      - '2021/**'
      - '2022/**'
      - '2023/**'
      - '2024/**'
      - '2025/**'
      - 'commons/**'
      - 'parent/**'
      - 'pom.xml'

jobs:
  Build-And-Test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        year: [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get private repo
        uses: actions/checkout@v6
        with:
          repository: alien11689/advent-of-code
          ref: master
          token: ${{ secrets.ADVENT_OF_CODE_PAT}}
          path: private
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Prepare resources
        run: |
          mkdir -p ${{matrix.year}}/src/main/resources
          cp -r private/${{matrix.year}}/src/main/resources/* ${{matrix.year}}/src/main/resources
      - name: Run
        run: |
          echo '```' > out
          ./runSingle.sh ${{matrix.year}} >> out
          echo '```' >> out
          cat out >> "$GITHUB_STEP_SUMMARY"

  Coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get private repo
        uses: actions/checkout@v6
        with:
          repository: alien11689/advent-of-code
          ref: master
          token: ${{ secrets.ADVENT_OF_CODE_PAT}}
          path: private
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Prepare resources
        run: |
          for year in 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024 2025 ; do
            mkdir -p $year/src/main/resources
            cp -r private/$year/src/main/resources/* $year/src/main/resources
          done
      - name: Run
        run: ./mvnw -U -e -B -ntp clean test -Pcoverage
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
